.head-h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #e65d72;
    border-radius: 25px;
    padding-inline: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
    z-index: 100;
}

.day-btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: #104277;
    padding-inline: 70px;
    padding-top: 110px;
    padding-bottom: 40px;
    margin-top: -130px;
}

.dot-blue {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #4690ee;
}

.dot-dark-blue {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #144174;
    margin-bottom: 30px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 25px 1fr;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.line-grey {
    background-color: #144174;
    width: 6px;
    height: 730px;
    margin-top: -690px;
    z-index: -100;
}
