@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
    background-color: #f2f2f2;
    font-family: "Nunito";
}

.head-h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #e65d72;
    border-radius: 25px;
    padding-inline: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
    z-index: 100;
}

.day-btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background-color: #104277;
    padding-inline: 70px;
    padding-top: 110px;
    padding-bottom: 40px;
    margin-top: -130px;
}

.dot-blue {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #4690ee;
}

.dot-dark-blue {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #144174;
    margin-bottom: 40px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 25px 1fr;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.line-grey {
    background-color: #144174;
    width: 6px;
    height: 870px;
    margin-top: -840px;
    z-index: -100;
}

.right-masage {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 145px;
    background-color: #fff;
    padding-left: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.right-masage::before {
    content: "";
    width: 12px;
    height: 150px;
    background-color: #eb5c75;
    position: absolute;
    display: inline-block;
    z-index: 200;
    margin-left: -16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.left-masage {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 145px;
    background-color: #fff;
    padding-right: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.left-masage::after {
    content: "";
    width: 12px;
    height: 150px;
    background-color: #eb5c75;
    position: absolute;
    display: inline-block;
    z-index: 200;
    margin-right: -16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.les-num {
    font-size: 26px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 5px;
}

.p-leson-name {
    height: 55px;
    font-size: 13px;
    font-weight: 700;
    margin: 0px;
}

.p-aditor-num {
    font-size: 15px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 9px;
}

.left-text {
    text-align: right;
}
